<?xml version="1.0" encoding="utf-8"?>

<Settings>

  <!--
    Select a LAPACK implementation to use:
      * ILACML4_1        (needs libacml.dll)
      * ILLapackGeneric  (needs lapack_gen.dll)
      * ILLapackGenLinux (needs liblapack.so)
      * ILLapackMKL10_0  (needs mkl_custom.dll)
      * ILManagedLapack  (needs ManagedLapack.dll)
   -->

  <LAPACKLibrary>ILManagedLapack</LAPACKLibrary>

  <!--
    Select a Fast Fourier Transform implementation to use:
      * ILACMLFFT    (needs libacml.dll)
      * ILFFTW3FFT   (needs libfftw3-3.dll)
      * ILMKLFFT     (needs mkl_custom.dll)
      * ILManagedFFT (under construction)
   -->

  <FFTLibrary>ILMKLFFT</FFTLibrary>
</Settings>