<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ILLibrary" publicKeyToken="9FE256A8C6ADBE85" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2602.31981" newVersion="1.0.2602.31981"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
